<p>Khu vực công cộng</p>
<div>
  <div class="filter-bar inline">
    
    <mat-form-field appearance="fill">
      <mat-label>Trạng thái dọn dẹp</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of cleanStatuses" [value]="food.id">
          {{food.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Trạng thái kiểm tra</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of checkStatuses" [value]="food.id">
          {{food.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Tìm kiếm</mat-label>
      <input matInput value="">
    </mat-form-field>

  </div>
  <div class="list-clean">
    <mat-card class="example-card" *ngFor="let i of [1,2,3,4,5,6]">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>HL1 - <small>Tầng 2</small> </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <div>
              <button mat-button [matMenuTriggerFor]="menuCleanStatus">
                <mat-icon color="primary">cleaning_services</mat-icon>
              </button>
              <mat-menu #menuCleanStatus="matMenu">
                <button mat-menu-item>
                  <mat-icon color="warn">cleaning_services</mat-icon> Chưa dọn dẹp
                </button>
                <button mat-menu-item>
                  <mat-icon color="primary">cleaning_services</mat-icon>Đang dọn dẹp
                </button>
                <button mat-menu-item>
                  <mat-icon style="color:green;">cleaning_services</mat-icon>Đã dọn dẹp
                </button>
              </mat-menu>
              <button mat-button [matMenuTriggerFor]="menuCleaner">
                Bùi Thị Thu Hương
              </button>
              <mat-menu #menuCleaner="matMenu">
                <button mat-menu-item>
                  Bùi Huyền
                </button>
                <button mat-menu-item>
                  Bùi A Thoàng
                </button>
                <button mat-menu-item>
                  Bùi A
                </button>
              </mat-menu>
            </div>

          </mat-list-item>

          <mat-list-item>
            <div>
              <button mat-button [matMenuTriggerFor]="menuCheckStatus">
                <mat-icon color="primary">done_all</mat-icon>
              </button>
              <mat-menu #menuCheckStatus="matMenu">
                <button mat-menu-item>
                  <mat-icon color="warn">done_all</mat-icon>Chưa kiểm tra
                </button>
                <button mat-menu-item>
                  <mat-icon color="primary">done_all</mat-icon>Đang kiểm tra
                </button>
                <button mat-menu-item>
                  <mat-icon style="color:green;">done_all</mat-icon>Đã kiểm tra
                </button>
              </mat-menu>
              <button mat-button [matMenuTriggerFor]="menuChecker">
                Bùi Thị Thu Hương
              </button>
              <mat-menu #menuChecker="matMenu">
                <button mat-menu-item>
                  Bùi Huyền
                </button>
                <button mat-menu-item>
                  Bùi A Thoàng
                </button>
                <button mat-menu-item>
                  Bùi A
                </button>
              </mat-menu>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>
