<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>HouseKeeping</span>
    <button mat-button>Admin</button>
    <span class="example-spacer"></span>
    <button mat-button>Bùi Thị Thu Hằng</button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>
<div class="inline">
  <div class="sidebar">
    <div class="mat-list">
      <div class="mat-list-item"> <a [routerLink]="['/admin/hotel']"> Khách sạn </a> </div>
      <div class="mat-list-item">
        <a [routerLink]="['/admin/user']"> Nhân viên </a>
      </div>
      <div class="mat-list-item"> <a [routerLink]="['/admin/customer']"> Khách hàng </a> </div>
      <!-- <div class="mat-list-item"> </div> -->
      <div class="mat-list-item">
        <div (click)="isShowCategoryMenu = !isShowCategoryMenu" style="display: flex; cursor: pointer;">
          <div [hidden]="!isShowCategoryMenu">
            <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_up
            </mat-icon>
          </div>
          <div [hidden]="isShowCategoryMenu">
            <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down
            </mat-icon>
          </div>
          Danh mục
        </div>
        <div *ngIf="isShowCategoryMenu">
          <div class="mat-list">
            <div class="mat-list-item" style="background-color: #3f51b5;"> <a style="color:white;"
                [routerLink]="['/admin/room-status']"> Trạng thái phòng </a> </div>
            <div class="mat-list-item"> <a [routerLink]="['/admin/room-type']"> Loại phòng </a> </div>
            <div class="mat-list-item"> <a [routerLink]="['/admin/clean-status']"> Trạng thái dọn dẹp </a> </div>
            <div class="mat-list-item"> <a [routerLink]="['/admin/check-status']"> Trạng thái kiểm tra </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100">
    <router-outlet></router-outlet>
  </div>
</div>
