<p>login works!</p>
<div class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Tên đăng nhập</mat-label>
    <input matInput [(ngModel)]="username">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Mật khẩu</mat-label>
    <input matInput type="password" [(ngModel)]="password">
  </mat-form-field>
  <button mat-button (click)="login()">Đăng nhập</button>
</div>


<a [routerLink]="['/authentication/forgot-password']"> Lấy lại mật khẩu</a>
<a [routerLink]="['/authentication/register']"> Đăng ký </a>
