<p>Phân công dọn dẹp cho nhân viên</p>
<div>
  <div class="filter-bar inline">
    <mat-form-field appearance="fill">
      <mat-label>Nhập phạm vi ngày</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Ngày bắt đầu">
        <input matEndDate placeholder="Ngày kết thúc">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Tìm kiếm</mat-label>
      <input matInput value="">
    </mat-form-field>
  </div>
  <div class="list-room">
    <mat-card class="example-card" *ngFor="let i of [1,2,3,4,5,6,7,8]">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>P101 - <small>Thường</small> </mat-card-title>
        <mat-card-subtitle>Tầng 2</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <div>
              <label>
                <mat-icon color="grey">account_circle</mat-icon>
              </label>
              <mat-form-field appearance="fill">
                <mat-label></mat-label>
                <select matNativeControl required>
                  <option value="volvo">Người kiểm tra</option>
                  <option value="saab">Người dọn dẹp</option>
                </select>
              </mat-form-field>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div>
              <button mat-button [matMenuTriggerFor]="menuChecker">
                <mat-icon color="warn">done_outline</mat-icon>
              </button>
              <mat-menu #menuChecker="matMenu">
                <button mat-menu-item>
                  <mat-icon color="warn">done_outline</mat-icon>Phòng chưa được phân công
                </button>
                <button mat-menu-item>
                  <mat-icon style="color:green;">done_outline</mat-icon>Phòng đã được phân công
                </button>
              </mat-menu>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>
