.inline {
  display: flex;

  .employee {
    width: 20%;
  }

  .asssign {
    width: 80%;
  }
}


.list-room {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  
}

.public-area {
  display: grid;
  // grid-column: 2;
  // grid-template-columns: 1fr 1fr 1fr ;
  grid-column: 3;
  grid-row: 4;
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

.room {
  display: grid;
  grid-template-columns: 300px 300px 300px ;
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

.hours{
  width: 67%;
}
.hour{  
  width: 72%;
}
.mat-list-item{
  height: auto!important;
}
.mat-form-field {
  font-size: 12px;
}

.mat-raised-button{
  height: 45px;
}

.choose{
  width: 10%;
}