<p>manager works!</p>
<div class="inline">
  <div class="sidebar">
    <div class="mat-list">
      <div class="mat-list-item"> <a [routerLink]="['/manager/schedule-job']"> Phòng</a> </div>
      <div class="mat-list-item"> <a [routerLink]="['/manager/public-job']">  Khu vực CC </a> </div>
      <div class="mat-list-item"> <a [routerLink]="['/manager/assignment']"> Phân công công việc </a> </div>
      <div class="mat-list-item"> <a [routerLink]="['/manager/booked']"> Book phòng </a> </div>

    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
